.slider-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(90deg, #023496 0%, #2d7bc7 100%);
}

.slide {
  height: 78px;
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px; /* Adjust this value for spacing between slides */
}

.slide-text {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-top: 7%;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.dot-layout {
  width: 7.51px;
  height: 7.51px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust this value for spacing after the dot */
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .slide-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .slide-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 780px) {
  .slide-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 630px) {
  .slide-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 530px) {
  .slide-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .slide-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .slide-text {
    font-size: 12px;
  }
}
