.ask-layout1
{
    width: 100%;
height: 622px;
background: #051D71;


}
.ask-layout2
{
    width: 570px;
height: 507px;


background: #0da474;

}
.ask-layout3
{
    width: 525px;
height: 507px;
background: #710552;
}